
.main{
  
    display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  margin: 5rem 0 0 30rem;
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color:  #af60ff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
 

  
}
.bt{

  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}
.WelcomeText{margin: 3rem 0 6rem 0;}
 .InputContainer 
 { display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
  width: 100%;
 margin-bottom: 20px;}
  .ButtonContainer
{  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;}

.StyledInput
{  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;
  height: 1.2rem;
  margin-bottom: 15px;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: #3c354e;
  font-size: 1rem;
  font-weight: bold;

}
  .StyledInput:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
  }
  .StyledInput::placeholder {
    color: #64636699;
    font-weight: 100;
    font-size: 1rem;
  }

